.sectionForm{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 15px 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.form-list{
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}

.form-item{
    background-color: #f1f2f3f4;
    height: 40px;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.link-form {
    color: black;
    width: 150px;
    text-align: center;
}