.input-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.input-wrapper input{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    outline: none;
    border: none;
    text-indent: 0.7rem;
}